body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

li {
    font-size: 17px;
}

.bold {
    font-weight: bold;
}

.center{
    text-align: center;
}

.title {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}